<main>
  {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <img class='{% cycle 'pull-right', 'pull-left' %}' src='{{ feature.image }}'>
      <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2>
      <div class='lead'>{{ feature.content }}</div>
    </section>
  {% endfor %}

  <hr>

  {% for project in site.projects %}
  <section>
  <img class='project' src='{{ project.image }}'>
  <h2>{{ project.heading }}</h2>
  </section>
  {% endfor %}
</main>
