<nav role='navigation'>
  <div class='container'>

    <div class='navbar-header'>
      <button type='button' data-toggle='collapse' data-target='#menu'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <!-- <a class='navbar&#45;brand' href='#'>{{ site.sitename }}</a> -->
      <a class='navbar-brand' href='#'>
          <img src='/images/PROTOROOM_logo.png' width='80%'/>
      </a>
    </div>

    <!-- <div id='menu'> -->
    <!--   <ul> -->
    <!--     {% for feature in site.features %} -->
    <!--     <li> -->
    <!--       <a href='#{{ feature.id }}'>{{ feature.name }}</a> -->
    <!--     </li> -->
    <!--     {% endfor %} -->
    <!--   </ul> -->
    <!-- </div> -->

  </div>
</nav>
