<nav role='navigation'>
  <div class='container'>

    <div class='navbar-header'>
      <!-- <button type='button' data&#45;toggle='collapse' data&#45;target='#menu'> -->
      <!--   <span class='sr&#45;only'>Toggle navigation</span> -->
      <!--   <span class='icon&#45;bar'></span> -->
      <!--   <span class='icon&#45;bar'></span> -->
      <!--   <span class='icon&#45;bar'></span> -->
      <!-- </button> -->
      <!-- <a class='navbar&#45;brand' href='#'>{{ site.sitename }}</a> -->
      <a class='navbar-brand' href='/'>
          <img src='/images/PROTOROOM_logo.png' width='65%'/>
      </a>
      <!-- <a href='/metamedia_series'><h4> Metamedia_series </h4></a> -->
    </div>

    <div id='menu'>
      <ul>
          <li><a href='/metamedia_series'> Metamedia series </a></li>
          <li><a href='/workshops'> Workshops </a></li>
        <!-- {% for feature in site.features %} -->
        <!-- <li> -->
          <!-- <a href='#{{ feature.id }}'>{{ feature.name }}</a> -->
        <!-- </li> -->
        <!-- {% endfor %} -->
      </ul>
    </div>

  </div>
</nav>
